<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>Image Widget</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>


  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->
  <link href="../css/style.css" rel="stylesheet"/>
  <!--<link href="../css/style.css" rel="stylesheet"/>-->
</head>
<body class="dev-scroll">
<div class="container-fluid row dev-navbar-background-color dev-header">

  <!--arrow on the navbar-->
  <div class="navbar-text pull-left">
    <a href="widget-ulst.html" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left dev-navbar-text-color"></span>
    </a>
  </div>

  <!--heading on the left-->
  <div class="navbar-header pull-left">
    <a class="navbar-brand thick">
      <b class="dev-navbar-text-color">Widget Edit</b>
    </a>
  </div>

  <div class="navbar-text pull-right">
    <a href="widget-ulst.html" class="navbar-link">
      <span class="glyphicon glyphicon-ok dev-navbar-text-color"></span>
    </a>
  </div>

</div>

<div  class="container-fluid">
  <div class="dev-input-section">
    <label>Name</label>
    <input type="text" class="dev-input"/>
  </div>

  <div class="dev-input-section">
    <label>Text</label>
    <input type="text" class="dev-input"/>
  </div>

  <div class="dev-input-section">
    <label>URL</label>
    <input type="url" class="dev-input" placeholder="3"/>
  </div>

  <div class="dev-input-section">
    <label>Width</label>
    <input type="number" min="0" max="100" class="dev-input" placeholder="100"/>
  </div>

  <div class="dev-input-section">
    <label>Upload</label>
    <input type="file" class="dev-input" placeholder="3"/>
  </div>

  <div class="dev-input-section">
    <button class="btn btn-primary full-width" onclick="">Upload Image</button>
  </div>

  <div class="dev-input-section">
    <button class="btn btn-danger full-width" onclick="backToWidgetList()">Delete</button>
  </div>
</div>

<div class="dev-navbar-background-color container-fluid row dev-footer">
  <p class="navbar-text pull-right">
    <a href="../user/profile.html" class="navbar-link">
      <span class="glyphicon glyphicon-user dev-navbar-text-color"></span>
    </a>
  </p>
</div>

<script src="../js/app.js"></script>
</body>
</html>
