<div class="container-fluid row dev-navbar-background-color dev-header">

  <!--arrow on the navbar-->
  <div class="navbar-text pull-left">
    <a href="../page/page-ulst.html" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left dev-navbar-text-color"></span>
    </a>
  </div>

  <!--heading on the left-->
  <div class="navbar-header pull-left">
    <a class="navbar-brand thick">
      <b class="dev-navbar-text-color">Widgets</b>
    </a>
  </div>

  <!--plus icon on the navbar -->
  <div class="navbar-text pull-right">
    <a href="widget-choose.html" class="navbar-link pull-right">
      <span class="glyphicon glyphicon-plus dev-navbar-text-color"></span>
    </a>
  </div>

</div>

<div class="container-fluid">
  <div class="dev-widget">
    <div class="dev-widget-toolbar">
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <h1>Heading Widget Example</h1>
  </div>

  <div class="dev-widget">
    <div class="dev-widget-toolbar">
      <a href="widget-image.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <img class="dev-widget-content" src="http://lorempixel.com/400/200" />
  </div>

  <div class="dev-widget">
    <div class="dev-widget-toolbar">
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <p data-reactid="47">“A country that has been the world’s greatest exporter of havoc, death and inhumanity became a champion of hypocrisy by preaching about humanity from this podium.” </p>
  </div>

  <div class="dev-widget">
    <div class="dev-widget-toolbar">
      <a href="widget-youtube.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ue80QwXMRHg" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="dev-navbar-background-color container-fluid row dev-footer">
  <p class="navbar-text pull-right">
    <a href="../user/profile.html" class="navbar-link">
      <span class="glyphicon glyphicon-user dev-navbar-text-color"></span>
    </a>
  </p>
</div>
