<div class="container-fluid row dev-navbar-background-color" [ngStyle]="{'overflow': scroll}">

  <!--arrow on the navbar-->
  <div class="navbar-text pull-left">
    <a routerLink="/user/{{userId}}/website/{{webId}}/page" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left dev-navbar-text-color"></span>
    </a>
  </div>

  <!--heading on the left-->
  <div class="navbar-header pull-left">
    <a class="navbar-brand thick">
      <b class="dev-navbar-text-color">Widgets</b>
    </a>
  </div>

  <!--plus icon on the navbar -->
  <div class="navbar-text pull-right">
    <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{pageId}}/widget/new" class="navbar-link pull-right">
      <span class="glyphicon glyphicon-plus dev-navbar-text-color"></span>
    </a>
  </div>

</div>

<div class="container-fluid" *ngFor="let widget of widgets">
  <div  [ngSwitch]="widget.widgetType" *ngIf="widget">
    <div class="dev-widget" *ngSwitchCase="'HEADING'">
      <div class="dev-widget-toolbar">
        <a (click)="redirectTo(widget._id)">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h1 [ngStyle]="{'font-size': widget.size + 'em'}">{{widget.text}}</h1>
    </div>

    <div class="dev-widget" *ngSwitchCase="'IMAGE'">
      <div class="dev-widget-toolbar">
        <a (click)="redirectTo(widget._id)">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <img [src]="widget.url" [style.width]="widget.width"/>
      <p>{{widget.text}}</p>
    </div>

    <div class="dev-widget" *ngSwitchCase="'HTML'">
      <div class="dev-widget-toolbar">
        <a (click)="redirectTo(widget._id)">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <div [innerHtml]="widget.text"></div>
    </div>

    <div class="dev-widget" *ngSwitchCase="'YOUTUBE'">
      <div class="dev-widget-toolbar">
        <a (click)="redirectTo(widget._id)">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <iframe [width]="widget.width" height="500" [src]="widget.url | safe" frameborder="0" allowfullscreen></iframe>
      <p>{{widget.text}}</p>
    </div>
  </div>
</div>

<div class="dev-navbar-background-color container-fluid row dev-footer">
  <p class="navbar-text pull-right">
    <a routerLink="/user/{{userId}}" class="navbar-link">
      <span class="glyphicon glyphicon-user dev-navbar-text-color"></span>
    </a>
  </p>
</div>
