


<div class="container-fluid row dev-navbar-background-color">

  <!--arrow on the navbar-->
  <div class="navbar-text pull-left">
    <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{pageId}}/widget" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left dev-navbar-text-color"></span>
    </a>
  </div>

  <!--heading on the left-->
  <div class="navbar-header pull-left">
    <a class="navbar-brand thick">
      <b class="dev-navbar-text-color">Widget Edit</b>
    </a>
  </div>

  <div class="navbar-text pull-right">
    <a (click)="confirmChange()" class="navbar-link">
      <span class="glyphicon glyphicon-ok dev-navbar-text-color"></span>
    </a>
  </div>

</div>

<div  class="container-fluid" *ngIf="widget">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <form #f="ngForm">
    Text
    <input [(ngModel)]="widget.text" class="form-control" name="text"/>

    Rows
    <input [(ngModel)]="widget.rows" class="form-control" type="number" name="rows"/>
    <label for="Name">Name</label>
    <div>
      <input [(ngModel)]="widget.name"
             type="text"
             name="name"
             class="form-control"
             id="Name"
             name="name"
             placeholder="Name">
    </div>

    Placeholder
    <input [(ngModel)]="widget.placeholder" class="form-control" required name="placeholder"/>
    <p></p>
    <div class="input-group">
      <input type="text"
             readonly
             value="Formatted"
             class="form-control"/>
      <span class="input-group-addon">
        <input [(ngModel)]="widget.formatted"
               type="checkbox"
               name="formatted"
        />
      </span>
    </div>
  </form>
  <p></p>
  <div class="dev-input-section">
    <button class="btn btn-danger full-width" (click)="deleteWidget()">Delete</button>
  </div>
</div>

<div class="dev-navbar-background-color container-fluid row dev-footer">
  <p class="navbar-text pull-right">
    <a href="/profile" class="navbar-link">
      <span class="glyphicon glyphicon-user dev-navbar-text-color"></span>
    </a>
  </p>
</div>
