<div class="container-fluid row dev-navbar-background-color">

  <!--arrow on the navbar-->
  <div class="navbar-text pull-left">
    <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{pageId}}/widget" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left dev-navbar-text-color"></span>
    </a>
  </div>

  <!--heading on the left-->
  <div class="navbar-header pull-left">
    <a class="navbar-brand thick">
      <b class="dev-navbar-text-color">Widget Edit</b>
    </a>
  </div>

  <div class="navbar-text pull-right">
    <a (click)="confirmChange()" class="navbar-link">
      <span class="glyphicon glyphicon-ok dev-navbar-text-color"></span>
    </a>
  </div>

</div>

<div  class="container-fluid" *ngIf="widget">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <form #f="ngForm">
    <div class="dev-input-section">
      <label>Name</label>
      <input type="text" class="dev-input" [ngModel]="widget.name" ngModel name="name"/>
    </div>

    <div class="dev-input-section">
      <label>HTML</label>
      <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
    </div>

    <div class="dev-input-section">
      <button class="btn btn-danger full-width" (click)="deleteWidget()">Delete</button>
    </div>
  </form>
</div>

<div class="dev-navbar-background-color container-fluid row dev-footer">
  <p class="navbar-text pull-right">
    <a href="/profile" class="navbar-link">
      <span class="glyphicon glyphicon-user dev-navbar-text-color"></span>
    </a>
  </p>
</div>
