<div class="container-fluid row dev-navbar-background-color">

  <!--arrow on the navbar-->
  <div class="navbar-text pull-left">
    <a routerLink="/user/{{userId}}/website/{{webId}}/page" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left dev-navbar-text-color"></span>
    </a>
  </div>
  <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
    <!--heading on the left-->
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="dev-navbar-text-color">Pages</b>
      </a>
    </div>

    <!--plus icon on the navbar -->
    <div class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}/website/{{webId}}/page/new" class="navbar-link pull-right">
        <span class="glyphicon glyphicon-plus dev-navbar-text-color"></span>
      </a>
    </div>
  </div>


  <div class="navbar-header pull-left">
    <a class="navbar-brand thick">
      <b class="dev-navbar-text-color">New Page</b>
    </a>
  </div>


  <!--check mark-->
  <p class="navbar-text pull-right">
    <a (click)="updatePage()" class="navbar-link">
      <span class="glyphicon glyphicon-ok dev-navbar-text-color"></span>
    </a>
  </p>
</div>


<div class="container-fluid full-height" *ngIf="page">
  <!--large screen side options-->
  <div class="col-lg-3 col-md-3 hidden-sm hidden-xs dev-input-contain">
    <ul class="list-group" *ngFor="let page of pages">
      <li class="list-group-item">
        <div class="row">
          <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{page._id}}/widget" class="pull-left">{{page.name}}</a>
          <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{page._id}}" (click)="refresh()" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <!--<div class="dev-dividor pull-left"></div>-->
  <div class=" col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="dev-content-side"><label>Name</label></div>
    <div ><input type="text" placeholder="Name" class="dev-input" [(ngModel)]="page.name"/></div>
    <div class="dev-separator"></div>
    <div class="dev-content-side"><label>Title</label></div>
    <div ><input type="text" placeholder="Title" class="dev-input" [(ngModel)]="page.title"/></div>
    <div class="dev-separator"></div>
    <div class="dev-content-side"><label>Description</label></div>
    <div><input type="text" class="dev-input" placeholder="Page Description" [(ngModel)]="page.description"/></div>
    <div class="dev-separator"></div>
    <div class="btn-contain dev-content-side">
      <button class="btn btn-danger btn-block" (click)="deletePage()">Delete</button>
    </div>
  </div>
</div>

<!--footer-->
<div class="dev-navbar-background-color container-fluid row dev-footer">
  <p class="navbar-text pull-right">
    <a routerLink="/user/{{userId}}" class="navbar-link">
      <span class="glyphicon glyphicon-user dev-navbar-text-color"></span>
    </a>
  </p>
</div>
