<div class="container-fluid row dev-navbar-background-color">

  <!--arrow on the navbar-->
  <div class="navbar-text pull-left">
    <a routerLink="/user/{{userId}}/website" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left dev-navbar-text-color"></span>
    </a>
  </div>

  <!--heading on the left-->
  <div class="navbar-header pull-left">
    <a class="navbar-brand thick">
      <b class="dev-navbar-text-color">Pages</b>
    </a>
  </div>

  <!--plus icon on the navbar -->
  <div class="navbar-text pull-right">
    <a routerLink="/user/{{userId}}/website/{{webId}}/page/new" class="navbar-link pull-right">
      <span class="glyphicon glyphicon-plus dev-navbar-text-color"></span>
    </a>
  </div>
</div>
<div class="container-fluid" *ngIf="pages">
  <ul class="list-group dev-list-no-border" *ngFor="let page of pages">
    <li class="list-group-item">
      <div class="row">
        <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{page._id}}/widget" class="col-md-4 col-lg-3 col-sm-6 col-xs-6 pull-left">{{page.name}}</a>
        <b class="col-lg-3 hidden-md hidden-sm hidden-xs">{{page.dateCreated.split('T')[0]}}</b>
        <b class="col-lg-3 col-md-4 hidden-sm hidden-xs">{{page._website.name}}</b>
        <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{page._id}}" class="text-right col-lg-3 col-md-4 col-sm-6 col-xs-6 pull-right">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
    </li>
  </ul>
</div>
<div class="dev-navbar-background-color container-fluid row dev-footer">
  <p class="navbar-text pull-right">
    <a routerLink="/user/{{userId}}" class="navbar-link">
      <span class="glyphicon glyphicon-user dev-navbar-text-color"></span>
    </a>
  </p>
</div>
