<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>Page List Page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>


  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../css/style.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--arrow icon on the left-->
    <p class="navbar-header pull-left">
      <a href="../website/website-ulst.html" class="navbar-brand thick">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="title_font_size">Pages</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a href="page-new.html" class="navbar-link">
        <span class="glyphicon glyphicon-plus title_font_size"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container-fluid website-content">
  <div class="row_style">
    <a href="widget-list.html">Blog Post</a>
    <a href="page-edit.html" class="text-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </div>

  <div class="row_style">
    <a href="widget-list.html">Blogs</a>
    <a href="page-edit.html" class="text-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </div>

  <div class="row_style">
    <a href="widget-list.html">Home</a>
    <a href="page-edit.html" class="text-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </div>

  <div class="row_style">
    <a href="widget-list.html">About</a>
    <a href="page-edit.html" class="text-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </div>

  <div class="row_style">
    <a href="widget-list.html">Contact Us</a>
    <a href="page-edit.html" class="text-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user title_font_size"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
