<div class="container-fluid row dev-navbar-background-color">

  <!--arrow on the navbar-->
  <div class="navbar-text pull-left">
    <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{pageId}}/widget" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left dev-navbar-text-color"></span>
    </a>
  </div>

  <!--heading on the left-->
  <div class="navbar-header pull-left">
    <a class="navbar-brand thick">
      <b class="dev-navbar-text-color">Choose Widgets</b>
    </a>
  </div>

</div>

<div  class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item row">
      <a (click)="addNewHeader()" class="pull-left col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <b>Header</b>
      </a>
      <p class="col-lg-4 col-md-6 col-sm-6 hidden-xs pull-right">
        Number of header being used: {{nh}}
      </p>
      <p class="col-lg-4 hidden-md hidden-sm hidden-xs pull-right">
        Description about Header.
      </p>
    </li>
    <li class="list-group-item row">
      <a (click)="addNewImage()" class="pull-left col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <b>Image</b>
      </a>
      <p class="col-lg-4 col-md-6 col-sm-6 hidden-xs pull-right">
        Number of Image being used: {{ni}}
      </p>
      <p class="col-lg-4 hidden-md hidden-sm hidden-xs pull-right">
        Description about Image.
      </p>
    </li>
    <li class="list-group-item row">
      <a (click)="addNewYoutube()" class="pull-left col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <b>YouTube</b>
      </a>
      <p class="col-lg-4 col-md-6 col-sm-6 hidden-xs pull-right">
        Number of YouTube being used: {{ny}}
      </p>
      <p class="col-lg-4 hidden-md hidden-sm hidden-xs pull-right">
        Description about YouTube.
      </p>
    </li>
    <li class="list-group-item row">
      <a (click)="addNewHtml()" class="pull-left col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <b>HTML</b>
      </a>
      <p class="col-lg-4 col-md-6 col-sm-6 hidden-xs pull-right">
        Number of HTML being used: {{nht}}
      </p>
      <p class="col-lg-4 hidden-md hidden-sm hidden-xs pull-right">
        Description about HTML.
      </p>
    </li>
    <li class="list-group-item row">
      <a (click)="addNewInput()" class="pull-left col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <b>Text Input</b>
      </a>
      <p class="col-lg-4 col-md-6 col-sm-6 hidden-xs pull-right">
        Number of Text Input being used: {{nt}}
      </p>
      <p class="col-lg-4 hidden-md hidden-sm hidden-xs pull-right">
        Description about Text Input.
      </p>
    </li>
  </ul>
</div>

<div class="dev-navbar-background-color container-fluid row dev-footer">
  <p class="navbar-text pull-right">
    <a routerLink="/user/{{userId}}" class="navbar-link">
      <span class="glyphicon glyphicon-user dev-navbar-text-color"></span>
    </a>
  </p>
</div>
