<div class="container">
  <h1>Register</h1>
  <input placeholder="username"
         type="text"
         class="form-control"/>
  <p> </p>
  <input placeholder="password"
         type="password"
         class="form-control"/>
  <p> </p>
  <input placeholder="verify password"
         type="password"
         class="form-control"/>
  <p> </p>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/profile']">Register</a>
  <p> </p>
  <a class="btn btn-danger btn-block"
     [routerLink]="['/login']" >Cancel</a>

</div>
