<div class="container-fluid row dev-navbar-background-color">

  <!--arrow on the navbar-->
  <div class="navbar-text pull-left">
    <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{pageId}}/widget" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left dev-navbar-text-color"></span>
    </a>
  </div>

  <!--heading on the left-->
  <div class="navbar-header pull-left">
    <a class="navbar-brand thick">
      <b class="dev-navbar-text-color">Widget Edit</b>
    </a>
  </div>

  <div class="navbar-text pull-right">
    <a (click)="confirmChange()" class="navbar-link">
      <span class="glyphicon glyphicon-ok dev-navbar-text-color"></span>
    </a>
  </div>

</div>

<div  class="container-fluid" *ngIf="widget">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <form #f="ngForm">
    <div class="dev-input-section">
      <label>Name</label>
      <input type="text" class="dev-input"/>
    </div>

    <div class="dev-input-section" [ngModel]="widget.text" name="text">
      <label>Text</label>
      <input type="text" class="dev-input"/>
    </div>

    <div class="dev-input-section">
      <label>URL</label>
      <input type="url" class="dev-input" placeholder="3" [ngModel]="widget.url" name="url"/>
    </div>

    <div class="dev-input-section">
      <label>Width(%)</label>
      <input type="number" min="0" max="100" class="dev-input" placeholder="100" [ngModel]="widget.width.replace('%','')" name="width"/>
    </div>

    <div class="dev-input-section">
      <label>Upload</label>
      <input type="file" class="dev-input" placeholder="3"/>
    </div>

    <div class="dev-input-section">
      <button class="btn btn-primary full-width" onclick="">Upload Image</button>
    </div>
  </form>
  <div class="dev-input-section">
    <button class="btn btn-danger full-width" (click)="deleteWidget()">Delete</button>
  </div>
</div>

<div class="dev-navbar-background-color container-fluid row dev-footer">
  <p class="navbar-text pull-right">
    <a routerLink="/user/{{userId}}" class="navbar-link">
      <span class="glyphicon glyphicon-user dev-navbar-text-color"></span>
    </a>
  </p>
</div>
